.container-56 {
  border-radius: 5px;
  background: #999964;
  position: relative;
  margin: 4px 0 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 14px 13px 17px;
  width: 100%;
  height: 34px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

.container-41 {
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  margin: 0 0px 0px 0;
  display: flex;
  flex-direction: column;
  padding: 17px 20px 17px 24px;
  width: fit-content;
  box-sizing: border-box;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  margin: 9px 0 9px 0;
  height: 62px;
}

/* Add media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .container-56 {
    /* Adjust styles for smaller screens */
    padding: 10px;
    height: 24px;
  }
  
  .container-41 {
    /* Adjust styles for smaller screens */
    height: 48px;
    padding: 10px;
  }
  
  /* Add more media queries as needed */
}

.select-account {
  margin: 0px 8.5px 1px 0;
  display: inline-block;
  width: 242.5px;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #01215b;
}

.icon {
  width: 18px;
  height: 14px;
}

.container-15 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 256px;
  box-sizing: border-box;
}

.actual-balance {
  margin-bottom: 0px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  color: #a3852f;
}

.container-11 {
  margin-right: 12px;
  width: 217px;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  color: #01215b;
}

.container-20 {
  margin: 3px 0;
  width: 27px;
  height: 14px;
}

.my-accounts-text {
  margin: 4px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: #01215b;
}

.container-10 {
  border-radius: 10px;
  background: #a38526;
  position: relative;
  margin: 4px 0 4px 0;
  display: flex;
  justify-content: space-between;
  padding: 12px 19px 19px 14px;
  width: 300px;
  box-sizing: border-box;
  height: 47px;
}

.icon-1 {
  margin-right: 12px;
  width: 18px;
  height: 14px;
}

.pending-tasks {
  margin: 2px 0 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

.container {

  right: 19px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: #01215b;
}

.total {
  margin-bottom: 0px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 8px;
  color: #ffffff;
}

.total-10 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-45 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container-17 {
  background: #01215b;
}

.container-1 {
  color: #a38526;
}

.current-accounts {
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: #01215b;
  margin: 4px 0 0 0;
}
