* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Montserrat";
}

.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-side {
  width: 60%;
  background-image: url("src/assets/images/BackgroundOtp.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.mobile-banking {
  color: #a38526;
}
.left-side-content h1 {
  font-size: 2.5rem;
  text-align: center;
}

.right-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}
.logo {
  background: url("src/assets/images/Image2.png") 50% / cover no-repeat;
  margin: 0 0 38px 1px;
  width: 169px;
  height: 74px;
}

h2 {
  margin-bottom: 30px;
  color: #a38526;
}

.login-button {
  width: 420px;
  height: 50px;
  background-color: #01215b;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}
.otp {
  margin: 0 12px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #a38526;
}
.sign-in-to-continue {
  margin: 0 30.1px 28px 18.1px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}
.container-2 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  width: 387px;
  box-sizing: border-box;
}
.rectangle-6 {
  border-radius: 5px;
  background: #d9d9d9;
  margin-right: 10px;
  width: 56px;
  height: 50px;
}
.rectangle-7 {
  border-radius: 5px;
  background: #d9d9d9;
  margin-right: 10px;
  width: 56px;
  height: 50px;
}
.rectangle-81 {
  border-radius: 5px;
  background: #d9d9d9;
  margin-right: 9px;
  width: 57px;
  height: 50px;
}
.rectangle-9 {
  border-radius: 5px;
  background: #d9d9d9;
  margin-right: 10px;
  width: 57px;
  height: 50px;
}
.rectangle-10 {
  border-radius: 5px;
  background: #d9d9d9;
  margin-right: 10px;
  width: 56px;
  height: 50px;
}
.rectangle-11 {
  border-radius: 5px;
  background: #d9d9d9;
  width: 56px;
  height: 50px;
}
