.footer {
  position: fixed;
  bottom: 0;
  left: 20;
  right: 20;
  width: 100%;
  background-color:whitesmoke;
  border-top: 1px solid #ccc;
  padding: 0px 0;
  text-align: center;
  font-size: 14px;
  color: #080707;
  height: 80px;
  margin-bottom: 40px;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}